[submodule "poo"]
	path = poo
	url = git@github.com:guilogar/poo
[submodule "aaed"]
	path = aaed
	url = git@github.com:guilogar/aaed
[submodule "pctr"]
	path = pctr
	url = git@github.com:guilogar/pctr
[submodule "ia"]
	path = ia
	url = git@github.com:guilogar/ia
[submodule "fec"]
	path = fec
	url = git@github.com:guilogar/fec
[submodule "bd"]
	path = bd
	url = git@github.com:guilogar/bd
[submodule "ednl"]
	path = ednl
	url = git@github.com:guilogar/ednl
[submodule "da"]
	path = da
	url = git@github.com:guilogar/da.git
[submodule "sd"]
	path = sd
	url = git@github.com:guilogar/sd.git
[submodule "abd"]
	path = abd
	url = git@github.com:guilogar/abd.git
[submodule "recinf"]
	path = recinf
	url = git@github.com:guilogar/recinf.git
[submodule "proyecto_rc"]
	path = proyecto_rc
	url = git@github.com:guilogar/proyecto_rc.git
[submodule "is"]
	path = is
	url = git@github.com:guilogar/is.git
[submodule "pnet"]
	path = pnet
	url = git@github.com:guilogar/pnet.git
