[submodule "poo"]
	path = poo
	url = https://github.com/guilogar/poo
[submodule "aaed"]
	path = aaed
	url = https://github.com/guilogar/aaed
[submodule "pctr"]
	path = pctr
	url = https://github.com/guilogar/pctr
[submodule "ia"]
	path = ia
	url = https://github.com/guilogar/ia
[submodule "fec"]
	path = fec
	url = https://github.com/guilogar/fec
[submodule "bd"]
	path = bd
	url = https://github.com/guilogar/bd
[submodule "ednl"]
	path = ednl
	url = https://github.com/guilogar/ednl
[submodule "da"]
	path = da
	url = https://github.com/guilogar/da.git
[submodule "ac_project"]
	path = ac_project
	url = https://github.com/guilogar/ac_project.git
